body {
    background-color: azure;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

header {
    top: 0px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: .4em 0;
}

.remove {
    text-align: center;
    max-width: 13em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: .3em;
    background-color: lightgray;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

.wrapper {
/*    display: flex;*/
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

.list_item, .add_new, button {
    padding: 0.4em;
/*    display: flex;*/
}

i {
    padding-right: .25em;
}

.add_new {
    color: darkgray;
    border-style: dotted;
    border-radius: 0.5em;
    font-style: italic;
}

#add_button {
    padding: .1em 0 0 0;
    float: right;
}

.stats {
    padding: 0.6em 0;
}